{% extends "index.html" %}
{% block body %}
<div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">NOMBRE DEL PILOTO

    </label>
    <select class="form-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">VEHICULOS</label>
    <select class="form-select" id="inputGroupSelect02">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    
  </div>
  
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">DESTINO</label>
    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
  
  <div class="input-group mb-3">
    <label class="input-group-text" for="inputGroupSelect01">FIRMA</label>
    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
      <option selected>Choose...</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>


{% endblock %}



